@import 'tailwindcss';
@plugin "daisyui" {
  themes: false;
}
@theme {
  /* breakpoints  */
  --breakpoint-md: 830px;

  /* Primary Colors */
  --color-primary: #0097b2;
  --color-primary-hover: #0086a0;

  /* Secondary Colors */
  --color-secondary: #18171d;
  --color-secondary-hover: #24232b;

  /* Error Colors */
  --color-error: #c53038;
  --color-error-hover: #a82a32;
}

@layer components {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .animate {
    transition: all 0.3s ease-in-out;
  }

  .margin-lg {
    margin-left: 48px; /* 12, 24 = 96px */
    margin-right: 48px;
  }
  .margin-sm {
    margin-left: 24px; /* 6 */
    margin-right: 24px;
  }
}

* {
  box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rr--box.rr--hf-svg-on,
.rr--box.rr--hf-svg-off,
.rr--box.rr--off {
  stroke: #0097b2 !important;
}

.rr--box.rr--hf-svg-on {
  fill: #0097b2 !important;
  width: 45px !important;
}

.rr--box.rr--hf-svg-off {
  fill: none;
  width: 45px !important;
}

.stars-rating {
  --rr--fill-on-color: #0097b2 !important;
  --rr--stroke-off-color: #0097b2 !important;
  --rr--stroke-on-color: #0097b2 !important;
  --rr--fill-off-color: white !important;
}

.dimming-effect {
  font-size: 80px;
  animation: dimAnimation 1.2s infinite;
}

@keyframes dimAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
