@import 'tailwindcss';
@plugin "daisyui" {
  themes: false;
}
@theme {
  /* breakpoints  */
  --breakpoint-md: 830px;

  /* colors variables  */
  --color-primary: #008236;
  --color-primary-hover: #16a34a;
  --color-secondary: #1a202c;
  --color-error: #fb2c36;
}

@layer components {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .animate {
    transition: all 0.3s ease-in-out;
  }

  .margin-lg {
    margin-left: 48px;
    margin-right: 48px;
  }
  .margin-sm {
    margin-left: 24px;
    margin-right: 24px;
  }
}

* {
  box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
